<div>
    <mat-toolbar>M:tG - Commissar</mat-toolbar>
</div>
<div>
    <h1>Why?</h1>
    Wouldn't it be nice to have a ban list that wasn't wack??<br>
    A format where the mana is just a touch slower? <br>
    That's why.
</div>
<div>
    <h2>Rules</h2>

    Commissar uses the same rules as commander with the following changes.

    <li>Cards that would have companion, don't.</li>
    <li>No max library because we want to include Battle of Wits.</li>
    <li>You may play 4 Hedron Alignment, good luck with that.</li>
    <li>Uses the below ban list instead.</li>
</div>
<div class="no-margin">
    <h2> Banned </h2>
</div>
<div class="rows">
    <div class="no-margin">
        <h3>Ante Cards</h3>
        <li>All of them.</li>
    </div>
    <div class="no-margin">
        <h3>All the Racist Cards WotC printed</h3>
        <li><a href="https://magic.wizards.com/en/news/announcements/depictions-racism-magic-2020-06-10">Here</a></li>
    </div>
    <div class="no-margin">
        <h3>Manual Dexterity Cards</h3>
        <li>Chaos Orb</li>
        <li>Falling Star</li>
    </div>

    <div class="no-margin">
        <h3>Fast Rocks</h3>
        <li>Jeweled Lotus</li>
        <li>Mox Diamond</li>
        <li>Lion's Eye Diamond</li>
        <li>Mana Crypt</li>
        <li>Black Lotus</li>
        <li>Mox Emerald</li>
        <li>Mox Jet</li>
        <li>Mox Pearl</li>
        <li>Mox Ruby</li>
        <li>Mox Sapphire</li>
        <li>Mana Vault</li>
        <li>Sol Ring</li>
        <li>Arcane Signet</li>
        <li>Grim Monolith</li>
    </div>
    <div class="no-margin">
        <h3>Spells that are too powerful</h3>
        <li>Ancestral Recall</li>
        <li>Balance</li>
        <li>Channel</li>
        <li>Emrakul, the Aeons Torn</li>
        <li>Fastbond</li>
        <li>Griselbrand</li>
        <li>Hullbreacher</li>
        <li>Library of Alexandria</li>
        <li>Paradox Engine</li>
        <li>Prophet of Kruphix</li>
        <li>Protean Hulk</li>
        <li>Sundering Titan</li>
        <li>Sylvan Primordial</li>
        <li>Time Vault</li>
        <li>Time Walk</li>
        <li>Time Twister</li>
        <li>Tinker</li>
        <li>Tolarian Academy</li>
        <li>Yawgmoth's Bargain</li>
    </div>
    <div class="no-margin">
        <h3>Cards that not fun and you know it</h3>
        <li>Limited Resources</li>
        <li>Shahrazad</li>
        <li>Trade Secrets</li>
        <li>Upheaval</li>
    </div>
    <div class="no-margin">
        <h3>Banned As Commander Only</h3>
        (Means they can not be your Commander.)

        <li>Emmesary of Trest</li>
        <li>Soratami Ascendant</li>
    </div>
    <div class="no-margin">
        <h3>Banned for Silliness</h3>
        <li>Silver Bordered Cards</li>
        <li>Acorn Cards</li>
    </div>
</div>
<div>
    <h2>Philosophy</h2>
    Play powerful stuff cards, combo out, have fun.
</div>
<div>
    <h2>Proxies are allowed</h2>
    <li>They must clearly be identifiable as to what they represent.</li>
    <li>They must not be identifiable in hidden zones.</li>
    <li>Support your local game store, buy what you can afford.</li>
</div>
