@use '@angular/material' as mat;

@include mat.core();

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-wrapper {
  margin: 2rem;
}

div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.rows {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.no-margin {
  margin-bottom: 0;
}